@model List<Category>

@{
	ViewData["Title"] = "CategoryList";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
	int count = 0;
}

<section class="content">

	<div class="block-header">
		<div class="row">
			<div class="col-lg-7 col-md-6 col-sm-12">
				<h2>
					Ürün Listesi
					<small class="text-muted">Kategori İşlemleri Sayfası</small>
				</h2>
			</div>
			<div class="col-lg-5 col-md-6 col-sm-12">
				<ul class="breadcrumb float-md-right">
					<li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Kategoriler</a></li>
					<li class="breadcrumb-item"><a href="javascript:void(0);">Kategori Listesi</a></li>
					<li class="breadcrumb-item active">Ana Sayfa</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row clearfix">
			<div class="col-lg-12">
				<div class="card">
					<div class="body">

						<table class="table table-bordered">
							<tr>
								<th>#</th>
								<th>Kategori Adı</th>
								<th>Sil</th>
								<th>Güncelle</th>
							</tr>

							@foreach (var item in Model)
							{
								count++;
								<tr>
									<td>@count</td>
									<td>@item.CategoryName</td>
									<td>
										<form id="deleteForm_@item.CategoryId" asp-action="DeleteCategory" method="post" style="display:inline;">
											@Html.AntiForgeryToken()

											<input type="hidden" name="id" value="@item.CategoryId" />
											<button type="button" class="btn btn-danger btn-sm delete-btn" data-id="@item.CategoryId" data-category-name="@item.CategoryName">Sil</button>
										</form>
									</td>
									<td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-success">Güncelle</a></td>
								</tr>
							}

						</table>

						<a href="/Category/AddCategory/" class="btn btn-info">Yeni Kategori Girişi</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
		document.querySelectorAll('.delete-btn').forEach(button => {
    button.addEventListener('click', function() {
        const categoryId = this.getAttribute('data-id');
        const categoryName = this.getAttribute('data-category-name');
        
        const form = document.getElementById(`deleteForm_${categoryId}`); 

        Swal.fire({
            title: 'Emin misiniz?',
            text: `${categoryName} kategorisi kalıcı olarak silinecek.`,
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Evet, Sil!',
            cancelButtonText: 'Vazgeç'
        }).then((result) => {
            if (result.isConfirmed) {
                form.submit();
            }
        });
    });
});
</script>