@model NumericStatisticsCartsViewModel

@{
	ViewData["Title"] = "NumericStatistics";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="content">
	<div class="block-header">
		<div class="row">
			<div class="col-lg-7 col-md-6 col-sm-12">
				<h2>
					İstatistik Sayfası
					<small class="text-muted">Sipariş ve Diğer İstatistikler</small>
				</h2>
			</div>
			<div class="col-lg-5 col-md-6 col-sm-12">
				<ul class="breadcrumb float-md-right">
					<li class="breadcrumb-item"><a href="index.html"><i class="zmdi zmdi-home"></i> Sayısal İstatistikler</a></li>
					<li class="breadcrumb-item"><a href="javascript:void(0);">İstatistik Listesi</a></li>
					<li class="breadcrumb-item active">Ana Sayfa</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card info-box-2 l-seagreen">
				<div class="body" style="padding:10px 0 8px 0;">
					<div class="icon" style="display:flex; align-items:center; justify-content:center; height:45px;">
						<i class="zmdi zmdi-view-list" style="font-size: 34px; color: white;"></i>
					</div>
					<div class="content col-12 text-center" style="margin-top: 2px;">
						<div class="text">KATEGORİ SAYISI</div>
						<div class="number">@Model.CategoryCount</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card info-box-2 l-parpl">
				<div class="body" style="padding:10px 0 8px 0;">
					<div class="icon" style="display:flex; align-items:center; justify-content:center; height:45px;">
						<i class="zmdi zmdi-shopping-basket" style="font-size: 34px; color: white;"></i>
					</div>
					<div class="content col-12 text-center" style="margin-top: 2px;">
						<div class="text">ÜRÜN SAYISI</div>
						<div class="number">@Model.ProductCount</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card info-box-2 l-blue">
				<div class="body" style="padding:10px 0 8px 0;">
					<div class="icon" style="display:flex; align-items:center; justify-content:center; height:45px;">
						<i class="zmdi zmdi-accounts" style="font-size: 34px; color: white;"></i>
					</div>
					<div class="content col-12 text-center" style="margin-top: 2px;">
						<div class="text">MÜŞTERİ SAYISI</div>
						<div class="number">@Model.CustomerCount</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card info-box-2 l-coral">
				<div class="body" style="padding:10px 0 8px 0;">
					<div class="icon" style="display:flex; align-items:center; justify-content:center; height:45px;">
						<i class="zmdi zmdi-shopping-cart" style="font-size: 34px; color: white;"></i>
					</div>
					<div class="content col-12 text-center" style="margin-top: 2px;">
						<div class="text">SİPARİŞ SAYISI</div>
						<div class="number">@Model.OrderCount</div>
					</div>
				</div>
			</div>
		</div>


	</div>

	<div class="row clearfix">
		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card info-box-2 l-amber">
				<div class="body" style="padding:10px 0 8px 0;">
					<div class="icon" style="display:flex; align-items:center; justify-content:center; height:45px;">
						<i class="zmdi zmdi-check-circle" style="font-size: 34px; color: white;"></i>
					</div>
					<div class="content col-12 text-center" style="margin-top: 2px;">
						<div class="text">TAMAMLANAN SİPARİŞLER</div>
						<div class="number">@Model.CompletedOrderCount</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card info-box-2 l-salmon">
				<div class="body" style="padding:10px 0 8px 0;">
					<div class="icon" style="display:flex; align-items:center; justify-content:center; height:45px;">
						<i class="zmdi zmdi-close-circle" style="font-size: 34px; color: white;"></i>
					</div>
					<div class="content col-12 text-center" style="margin-top: 2px;">
						<div class="text">İPTAL EDİLEN SİPARİŞLER</div>
						<div class="number">@Model.CancelledOrderCount</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card info-box-2" style="background: linear-gradient(to right, #a18cd1, #fbc2eb);">
				<div class="body" style="padding:10px 0 8px 0;">
					<div class="icon" style="display:flex; align-items:center; justify-content:center; height:45px;">
						<i class="zmdi zmdi-globe" style="font-size: 34px; color: white;"></i>
					</div>
					<div class="content col-12 text-center" style="margin-top: 2px;">
						<div class="text">ÜLKE SAYISI</div>
						<div class="number">@Model.DistinctCountryCount</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card info-box-2" style="background: linear-gradient(to right, #f6d365, #fda085);">
				<div class="body" style="padding:10px 0 8px 0;">
					<div class="icon" style="display:flex; align-items:center; justify-content:center; height:45px;">
						<i class="zmdi zmdi-city" style="font-size: 34px; color: white;"></i>
					</div>
					<div class="content col-12 text-center" style="margin-top: 2px;">
						<div class="text">ŞEHİR SAYISI</div>
						<div class="number">@Model.DistinctCityCount</div>
					</div>
				</div>
			</div>
		</div>


	</div>

	<div class="row clearfix">
		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card info-box-2 l-green">
				<div class="body" style="padding:10px 0 8px 0;">
					<div class="icon" style="display:flex; align-items:center; justify-content:center; height:45px;">
						<i class="zmdi zmdi-archive" style="font-size: 34px; color: white;"></i>
					</div>
					<div class="content col-12 text-center" style="margin-top: 2px;">
						<div class="text">TOPLAM ÜRÜN STOK SAYISI</div>
						<div class="number">@Model.TotalProductStock</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card info-box-2 l-pink">
				<div class="body" style="padding:10px 0 8px 0;">
					<div class="icon" style="display:flex; align-items:center; justify-content:center; height:45px;">
						<i class="zmdi zmdi-calendar" style="font-size: 34px; color: white;"></i>
					</div>
					<div class="content col-12 text-center" style="margin-top: 2px;">
						<div class="text">BU YIL VERİLEN SİPARİŞ SAYISI</div>
						<div class="number">@Model.ThisYearOrders</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card info-box-2" style="background: linear-gradient(to right, #4facfe, #00f2f3);">
				<div class="body" style="padding:10px 0 8px 0;">
					<div class="icon" style="display:flex; align-items:center; justify-content:center; height:45px;">
						<i class="zmdi zmdi-money" style="font-size: 34px; color: white;"></i>
					</div>
					<div class="content col-12 text-center" style="margin-top: 2px;">
						<div class="text">SİPARİŞLERDEN EDİLEN GELİR</div>
						<div class="number">@Model.TotalRevenue</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-3 col-md-6 col-sm-12">
			<div class="card info-box-2" style="background: linear-gradient(to right, #a8c0ff, #3f2b96);">
				<div class="body" style="padding:10px 0 8px 0;">
					<div class="icon" style="display:flex; align-items:center; justify-content:center; height:45px;">
						<i class="zmdi zmdi-trending-up" style="font-size: 34px; color: white;"></i>
					</div>
					<div class="content col-12 text-center" style="margin-top: 2px;">
						<div class="text">SİPARİŞLERDEN EDİLEN ORTALAMA GELİR</div>
						<div class="number">@Model.AverageTotalRevenue</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
